<div class="container"  >
    <h3>Add Task</h3>
   <form [formGroup]="AddtaskForm">
      <h3>title:</h3>
      <input type="text" formControlName="titlename"ngDefaultControl  class="form-control" #title>
      <div *ngIf="AddtaskForm.controls['titlename'].invalid && AddtaskForm.controls['titlename'].touched">
         <span *ngIf="AddtaskForm.controls['titlename'].hasError('required')">title name  required</span>
         <span *ngIf="AddtaskForm.controls['titlename'].hasError('minlength')">title name required min 4 chara</span>
      </div>
      <br> 
      <h3>Description:</h3>
      <textarea class="form-control" formControlName="Desname"ngDefaultControl  #description></textarea>
      <div *ngIf="AddtaskForm.controls['Desname'].invalid && AddtaskForm.controls['Desname'].touched">
         <span *ngIf="AddtaskForm.controls['Desname'].hasError('required')">Description name  required</span>
         <span *ngIf="AddtaskForm.controls['Desname'].hasError('minlength')">Description name required min 4 chara</span>
      </div>
      <br>
      <h3>Status:</h3>
      <select formControlName="statusname"ngDefaultControl  #status>
         <option>Please Select Status</option>
         <option value="1">Open</option>
         <option value="2" disabled>In-Progress</option>
         <option value="3" disabled>Completed</option>
      </select>
      <div *ngIf="AddtaskForm.controls['statusname'].invalid && AddtaskForm.controls['statusname'].touched">
         <span *ngIf="AddtaskForm.controls['statusname'].hasError('required')">status name  required</span>
      </div>
      <br>
      <hr>
      <div class="container">
         <button type="submit" [disabled]="!AddtaskForm.valid"  (click)="onsumbit(title,description,status)" class="btn btn-primary">Add Task</button> 
      </div>
      {{errMsg}}
      {{AddtaskForm.valid}}
   </form>
</div>
